<app-layout-container>
  <app-image-banner
  imageUrl="https://images.unsplash.com/photo-1507915977619-6ccfe8003ae6?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  title="Nos Casamos!"
  />
  <app-field-separator/>

  <app-image-text-block
  title="De ese primer encuentro a este gran día!"
  imageUrl="https://images.unsplash.com/photo-1601805504386-ad769c7522f9?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  text="Nuestra historia comenzó el 1 de mayo, cuando el destino nos juntó en la misma clase y, sin saberlo, nos regaló el mejor de los comienzos. Desde entonces, hemos compartido incontables momentos, risas, aventuras y viajes, construyendo un amor que nos ha llevado a donde estamos hoy: listos para dar el siguiente paso y celebrar nuestra boda. Este es solo el comienzo de una nueva etapa, y estamos emocionados de compartirla con todos ustedes.">

  </app-image-text-block>
  <app-field-separator/>
  <app-image-text-block
  [imageRight]="true"
  imageUrl="https://images.unsplash.com/photo-1466684921455-ee202d43c1aa?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  >
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-4 md:text-xl">Cuenta atrás para el gran día</h2>
      <p class="text-lg mb-2 md:text-base">Fecha estimada: <span class="font-semibold">1-5-2026</span></p>
      <ul class="flex flex-row justify-center space-x-4 text-sm lg:text-lg">
      @if (this.elapsedYears() > 0)
      {
        <li class="flex flex-col items-center">
          <span class="font-semibold">{{ this.elapsedYears() }}</span>
          <span>Año</span>
        </li>
      }
      <li class="flex flex-col items-center">
        <span class="font-semibold">{{ this.elapsedMonths() }}</span>
        <span>Meses</span>
      </li>
      <li class="flex flex-col items-center">
        <span class="font-semibold">{{ this.elapsedDays() }}</span>
        <span>Días</span>
      </li>
      <li class="flex flex-col items-center">
        <span class="font-semibold">{{ this.elapsedHours() }}</span>
        <span>Horas</span>
      </li>
      <li class="flex flex-col items-center">
        <span class="font-semibold">{{ this.elapsedMinutes() }}</span>
        <span>Minutos</span>
      </li>
      <li class="flex flex-col items-center">
        <span class="font-semibold">{{ this.elapsedSeconds() }}</span>
        <span>Segundos</span>
      </li>
      </ul>
    </div>
  </app-image-text-block>


  <app-field-separator/>

  <app-image-text-block
    imageUrl="https://plus.unsplash.com/premium_photo-1671806266887-f3fa0360f5ee?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  >
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-4 md:text-xl">Lugar del evento</h2>
      <p class="text-lg mb-2 md:text-base">Nombre: <span class="font-semibold">Finca Etxemendi Etxondo</span></p>
      <p class="text-lg mb-2 md:text-base">Dirección: <span class="font-semibold">Ctra. M-104 (de San Agustín de Guadalix a Colmenar Viejo) Km 4.2</span></p>
      <p class="text-lg mb-2 md:text-base">Ciudad: <span class="font-semibold">San Agustín de Guadalix</span></p>
      <p class="text-lg mb-2 md:text-base">Provincia: <span class="font-semibold">Madrid</span></p>
    </div>
  </app-image-text-block>

  <app-field-separator/>
  <!-- Mapa -->
  <app-title-with-content>
  <!-- componentizar este div -->
    <div style="width: 100%; height: 0; padding-bottom: 56.25%; position: relative;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1512.8149795234267!2d-3.6472580275179056!3d40.68212162077191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43d13939a3a263%3A0x80ef9f6ccfb60461!2sFinca%20Etxemendi%20de%20Araceli!5e0!3m2!1ses!2ses!4v1739104035286!5m2!1ses!2ses"
      style="border:0; width: 100%; height: 100%; max-height: 300px; position: absolute; top: 0; left: 0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </app-title-with-content>


</app-layout-container>
